.header {
    background-color: #ff6648;
}

.logo {

}

.login-form {

}

h3 {
    background-color: #ff6648;
}

.register {
    background-color: #ff6648;
}

.footer {
    background-color: #ff6648;
}

.footer-text {
    background-color: #ff6648;
}