.headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;

    width: 100%;
    top: 0;

    background-color: #ff6648;
}

.configIcon {
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 20px;

    background-color: #A706CE;
    border: #A706CE;
    border-radius: 50px;

    width: 20px;
}

header {
    display: flex;
    flex-direction:column;
    justify-content:center;
    position: fixed;

    padding: 30px;
    background-color: #ff6648;
    margin: 0px auto;

    height: 250px;
    width: 100%;
}

.profilePic {
    width: 100px;
    left: 0;
}

.wavyBorder {
    display: flex;
    flex-direction:column;
    justify-content:center;
    position: fixed;
    top:250px;

}

section {
    background-color: white;
}

.body {
    display: flex;
    

    background-color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;

    bottom: 0;

    background-color: #FF94AE;

    margin-top: 50%;
    padding: 20px;
    width: 100%;
}

.menuIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 10px;
}
