.page-loading {
    background-color: #FF6648;
}

.logo-loading {
    display: flex;
    position: fixed;
    align-content: center;
    justify-content: center;


    width: 300px;
    padding: 30px;
    
}

.footer {
    position: fixed;
    display: flex;
    flex-direction: center;
    
}

p {
    position: fixed;
    display: flex;
    justify-content: center;

    color: rgb(67, 67, 67);
    font-size: 12px;
}